<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../component/contact-components.html">

<dom-module id="view-unknow">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax
    auto
    url="https://rickandmortyapi.com/api/character/?status=unknown"
    handle-as="json"
    on-response="handleResponse"
    last-response={{characterLisr}}
    on-error="onError"></iron-ajax>

    <template is="dom-repeat" items="[[characterLisr.results]]" as="characters">
        <!--AQUI VA EL COMPONENTE DE LA CARD CON SUS PROPIEDADES-->
        <contact-component name="[[characters.name]]" status="[[characters.status]]" specie="[[characters.species]]" gender="[[characters.gender" image ="[[characters.image]]" origin="[[characters.origin.name]]" descrip="[[characters.created]"></contact-component>
    </template>

    <!--<div class="card">
      <div class="circle">3</div>
      <h1>View Dead</h1>
      <p>Modus commodo minimum eum te, vero utinam assueverit per eu.</p>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>
    </div>-->
  </template>

  <script>
    class ViewUnknow extends Polymer.Element {
      static get is() { return 'view-unknow'; }
    }

    window.customElements.define(ViewUnknow.is, ViewUnknow);
  </script>
</dom-module>
