<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/component/component-list.html">

<dom-module id="view-dead">
    <template>
        <style >
          :host {
          }
        </style>

    <iron-ajax
    auto
    url="https://rickandmortyapi.com/api/character/?status=dead"
    handle-as="json"
    last-response={{response}}
    on-error="onError"></iron-ajax>

    <component-list data="{{response}}"></component-list>
  </template>

    </template>

    <script>
        class ViewDead extends Polymer.Element {
        static get is() { return 'view-dead'; }
        }
        window.customElements.define(ViewDead.is, ViewDead);
  </script>
</dom-module>
