<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/component/component-list.html">

<dom-module id="view-alive">
  <template>
    <style include="shared-styles">
      :host {
      }
    </style>

    <iron-ajax
    auto
    url="https://rickandmortyapi.com/api/character/?status=alive"
    handle-as="json"
    last-response={{response}}
    ></iron-ajax>

    <component-list data="{{response}}"></component-list>

    </template>

    <script>
        class ViewAlive extends Polymer.Element {
        static get is() { return 'view-alive'; }

        }
        window.customElements.define(ViewAlive.is, ViewAlive);
  </script>
</dom-module>
