<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../component/contact-components.html">

<dom-module id="view-alive">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax
    auto
    url="https://rickandmortyapi.com/api/character/?status=alive"
    handle-as="json"
    on-response="handleResponse"
    last-response={{characterLisr}}
    on-error="onError"></iron-ajax>

    <template is="dom-repeat" items="[[characterLisr.results]]" as="characters">
        <!--AQUI VA EL COMPONENTE DE LA CARD CON SUS PROPIEDADES-->
        <div class="este">
            <contact-component name="[[characters.name]]" status="[[characters.status]]" specie="[[characters.species]]" gender="[[characters.gender" image ="[[characters.image]]" origin="[[characters.origin.name]]" descrip="[[characters.created]"></contact-component>
        </div>
        
    </template>

  </template>

  <script>
    class ViewAlive extends Polymer.Element {
      static get is() { return 'view-alive'; }
    }

    window.customElements.define(ViewAlive.is, ViewAlive);
  </script>
</dom-module>
