<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/component/component-list.html">

<dom-module id="view-all">
    <template>
        <style include="shared-styles">
            :host {

            }
        </style>

        <iron-ajax
            auto
            url="https://rickandmortyapi.com/api/character"
            handle-as="json"
            last-response={{response}}
            on-error="_onError"
        ></iron-ajax>

      <component-list data="{{response}}"></component-list>

  </template>

  <script>
      class ViewAll extends Polymer.Element {
          static get is() { return 'view-all'; }
          _onError(e){
              console.log(e);
          }
      }

      window.customElements.define(ViewAll.is, ViewAll);
  </script>
</dom-module>
