<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="header-detail.html">
<link rel="import" href="body-detail.html">

<dom-module id="component-detail">
    <template>
        <style>
            :host {
            }
            div{
                height: 800px;
                background-color: #BDBDBD;
                /* background-image: url("/src/img/con.jpg"); */
            }
        </style>

            <header-detail data="[[data]]"></header-detail>
            <body-detail data="[[data]]"></body-detail>
        
    </template>

    <script>
        class ComponentDetail extends Polymer.Element{
            static get is(){ return 'component-detail'; }
            static get observers() {
                return [
                    '_verData(data)'

                ]
            }
            _verData(data){
                console.log("data",data);
            }
        }
        window.customElements.define(ComponentDetail.is, ComponentDetail);
    </script>
</dom-module>