<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../component/component-card.html">

<dom-module id="component-list">
    <template>
        <style>
            :host {
                border: 1px solid #ddd;
                background: #f1f1f1;
                padding: 0;
                margin: 0;
            }
            .section{
                position: fixed;
                left: 0;
                top: 130px;
                bottom: 0;
                right: 0;
                margin: 10px;
                padding: 10px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>

        <section class="section">
            <template is="dom-repeat" items="[[data.results]]" as="characters">
                <component-card data="[[characters]]"></component-card>
            </template>
        </section>

    </template>
    <script>
        class ComponentList extends Polymer.Element {
            static get is() { return 'component-list'; }
        }
        window.customElements.define(ComponentList.is, ComponentList);
    </script>
</dom-module>
