<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../styles/component-list-styles.html">
<link rel="import" href="../component/contact-components.html">


<dom-module id="component-list">
    <template>
        <style include="component-list-styles">
            :host {
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        </style>

        <section class="section">
            <template is="dom-repeat" items="[[data.results]]" as="characters">
                <!-- Aqui deberia ir el componente de las tarjetas-->
                <contact-component name="[[characters.name]]" status="[[characters.status]]" specie="[[characters.species]]" gender="[[characters.gender" image ="[[characters.image]]" origin="[[characters.origin.name]]" descrip="[[characters.created]"></contact-component>
            </template>
        </section>
    </template>

    <script>
        class ComponentList extends Polymer.Element {
            static get is() { return 'component-list'; }

        }

        window.customElements.define(ComponentList.is, ComponentList);
    </script>
</dom-module>
