<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="contact-component">
	<template>
		<style>
		:host{
				display: inline-block;
				width: 250px;
				height: 250px;
			}
		#imagen {
			width:200px;
			height:200px;
		}
		.person_nombre{
				position: auto;
				right: auto;
				width: 100%;
				height: 100%;
				background-color: #141414;
				opacity:0.6;
			}
		.cont-nombre{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width:100%;
				height:100%;
				margin: auto;
				color: #fff;
				border-radius: 5px;	    
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
							
			}
		#imagen>div
		{
			
			bottom: 108px;
			color:#141414;
			background-color:#141414;
			opacity:0.5;
			width: 250px;
			height: 100px;
			border-radius: 5px;	    
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}
		h2,p{
				color: #fff;
			}
		</style>
		<div id="imagen">
			<img src="[[image]]" width="250" height="250">
			<div class="cont-nombre">
				<div class="person_nombre">
					<p>Name: [[name]]</p>
					<p>Specie: [[specie]]</p>
				</div>
			</div>
		</div>
	</template>
	<script>
		(function contactComponet(){
			'use strict';
			class ContactComponent extends Polymer.Element{
				static get is(){ return 'contact-component'}
				static get properties(){
					return{
						name:{
							type: String,
							value: ""
						},
						status:{
							type: String,
							value: ""
						},
						specie:{
							type:String,
							value: ""
						},
						gender:{
							type: String,
							value: ""
						},
						image:{
							type: String,
							value: ""
						},
						origin: {
							type: String,
							value: ""
						},
						descrip: {
							type: String,
							value: ""
						}
					}
				}
			}
			customElements.define(ContactComponent.is, ContactComponent)
		})();
	</script>
</dom-module>	