<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="header-detail">
  <template>
    <style include="shared-styles">
      :host {
      }

      .heder_detail{
        height: 150px;
        width: 100%;
        padding: 2%;
      }
      
      #content_info{
        float: left;
        height: 100%;
        overflow:hidden;
        border-radius: 15px;
        position: relative;
        width: 16%;
        transition: all 500ms ease;
        -webkit-border-radius: 15px;
        -webkit-transition: height .4s;
      }

      .status{
        background-color: rgb(72, 118, 241);
      }

      .specie{
        background-color: rgb(233, 93, 68);
      }

      .gender{
        background-color: rgb(156, 226, 86);
      }

      .origin{
        background-color: rgb(162, 189, 238);
      }

      .location{
        background-color: rgb(243, 243, 113);
      }

      .description{
        background-color: rgb(253, 128, 82);
      }
      
      #icon{
        display: block;
        background-color: rgba(255,255,255,.15);
        height: 35px;
        margin: 8px auto;
        padding: 20px;
        width: 35px;
        -webkit-border-radius: 50%;
        -webkit-box-shadow: 0px 0px 0px 15px rgba(255,255,255,0);
        -webkit-transition: box-shadow .4s; 
      }

      p{
        font-size: 12px;
        color: black;
        text-align: center;
        padding-top: 5px;
        opacity: .6;
        -webkit-transition: padding-top .4s;
      }

      #content_info:hover{
        height: 180px;
      }

      #content_info:hover p{
        padding-top: 15px;
        opacity: 1;
        font-size: 15px;
      }

      #content_info:hover #icon{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
      }

    </style>

    <div class="heder_detail">
        <div id="content_info" class="status">
          <img id="icon" src="/src/img/usuario.png">
          <p>Status: Alive</p>
        </div>
        <div id="content_info" class="specie">
          <img id="icon" src="/src/img/red.png">
          <p>Specie: Human</p>
        </div>
        <div id="content_info" class="gender">
          <img id="icon" src="/src/img/usuarios.png">
          <p>Gender: Male</p>
        </div>
        <div id="content_info" class="origin">
          <img id="icon" src="/src/img/el-planeta-tierra.png">
          <p>Origin: Earth (C-137)</p>
        </div>
        <div id="content_info" class="location">
          <img id="icon" src="/src/img/casa.png">
          <p>Location: Earth (Replacement Dimension)</p>
        </div>
        <div id="content_info" class="description">
          <img id="icon" src="/src/img/ayudar.png">
          <p>Description: 2017-11-04T18:48:46.250Z</p>
        </div>
    </div>

  </template>

  <script>
    class HeaderDetail extends Polymer.Element {
      static get is() { return 'header-detail'; }
    }

    window.customElements.define(HeaderDetail.is, HeaderDetail);
  </script>
</dom-module>
